@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h1 {
    font-size: 50px;
    overflow: hidden;

    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid rgb(226, 226, 226);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile {
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
        justify-content: center;
        text-align: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;

        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }

    .showInfos {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.507);
      animation: popup .3s ease forwards;
      transform-origin: center;
      z-index: 1;

      .infosContent {
        position: relative;
        top: 10%;
        width: 600px;
        margin: 0 auto;
        color: white;
        background: $mainColor;
        border-radius: 40px;
        padding: 1.5rem;
        box-shadow: 0 10px 10px #333;
        animation: popup 1s ease forwards;
        transform: scale(0);
        transform-origin: center;
        justify-content: center;

        @keyframes popup {
          to {
            transform: scale(1);
          }
        }

        @include mobile {
          width: 80% !important;
          top: 5%;

        }

        img {
          width: 100%;
        }
      }

      .head {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
      }

      h2 {
        text-align: left;
        margin-bottom: 1rem;
        color: crimson;
      }

      .button {
        cursor: pointer;
        color: white;
        background-color: $secColor;
        border-radius: 20px;
        padding: 0.5rem;
        transition: .2s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          background: crimson;
        }
      }

      .text {
        text-align: justify;
        // padding-bottom: 1rem;
      }

      .demo {
        padding: .5rem 0;

        a {
          color: $secColor;
          text-decoration: none;
          font-weight: 500;
        }
      }

      .return {
        margin: 1rem auto;
        width: 200px;
      }

    }
  }
}