@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 700px;
      height: 700px;
      // background-color: crimson;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      box-shadow: 0 2px 0px 0px $secColor;
      overflow: hidden;

      @include mobile {
        align-items: flex-start;
      }

      img {
        height: 90%;

        @include mobile {
          height: 50%;
        }

        &:hover {
          transform: scale(1.05);
          transition: 1s ease-out;
        }
      }
    }


  }

  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      // background-color: blue;
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      .icons {
        overflow: hidden;
      }

      .icons i {
        font-size: 30px;
        color: $secColor;
        padding: 8px;
        padding-left: 10px;

        &:hover {
          transform: scale(1.5);
          // transform: matrix3d(5);
          overflow: hidden;
          // margin-bottom: 5px;
        }
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
          overflow: hidden;
        }
      }

      h2 {
        font-size: 35px;

        @include mobile {
          overflow: hidden;
        }
      }

      h3 {
        font-size: 30px;

        @include mobile {
          font-size: 20px;
          overflow: hidden;
        }

        span {
          font-size: inherit;
          color: $secColor;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }
      }

      button {
        width: 150px;
        height: 40px;
        align-items: center;
        color: white;
        background-color: $secColor;
        border: none;
        font-weight: 500;
        cursor: pointer;
        border-radius: 50px;
        transition: 0.2s;

        // font-family: "Poppins SemiBold";
        @include mobile {
          width: 120px;
          // margin-bottom: 10px;
        }

        &:focus {
          outline: none;
        }

      }

      .profile-options {
        @include mobile {
          overflow: hidden;
        }
      }

      .primary-btn {
        color: white;
        font-size: 12px;
        background-color: $mainColor;
        border: 3px solid $secColor;
        margin-top: 20px;

        @include mobile {
          margin-bottom: 10px;
        }
      }

      .primary-btn:hover {
        color: aliceblue;
        // background-color: $secColor;
      }

      .highlighted-btn {
        color: white;
        font-size: 12px;
        background-color: $secColor;
        margin: 0 0 0 28px;
        margin-top: 20px;

        @include mobile {
          margin-bottom: 10px;
        }

        &:hover {
          // border: 2px solid $mainColor;
          color: aliceblue;
          background-color: $mainColor;
          // margin: 0 0 0 28px;
        }
      }
    }

    a.arrow {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 50px;
        animation: arrowBlink 1.5s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}